# Flutter/Dart
.dart_tool/
.packages
build/
.pub/
.pub-cache/
example/.dart_tool/
example/build/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Ephemeral build artifacts
android/app/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
